@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  z-index: 0 !important;
}
@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradientShift {
  animation: gradientShift 15s ease infinite;
}

body {
  @apply font-sans bg-gradient-to-tr from-[#f8f9fa] to-[#e0f7fa] dark:from-gray-900 dark:to-gray-800 text-gray-900 dark:text-gray-100 transition-colors duration-300;
}
